<% if @user.avatar_url.nil? %>
  <p>There is not currently a profile picture for <%= @user.username %></p>
<% else %>
  <%= simple_form_for @user, :html => {:multipart => true} do |f| %>
    <p>
      <label>My Avatar</label>
      <%= image_tag(@user.avatar_url) if @user.avatar? %>
    </p>
  <% end %>
<% end %>

<% if current_user == @user %>
  <%= simple_form_for @user, :html => {:multipart => true} do |f| %>
    <p>
      <label>Change or Update Avatar</label>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
      <%= f.submit %>
    </p>
  <% end %>
<% end %>
