<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Description</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @post.title %></td>
      <td><%= link_to @post.url, @post.url %></td>
      <td><%= @post.description %></td>
      <td><%= @post.tags %></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Review</th>
      <th colspan="2">Vote</th>
      <th>Net Votes</th>
    </tr>
  </thead>
  <tbody>
  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.rating %></td>
      <td><%= review.body %></td>
      <% if user_signed_in? && current_user.has_voted?(review) == false %>
        <td>
        <%= simple_form_for [review, Vote.new] do |f| %>
          <%= f.hidden_field :vote, value: 1 %>
          <%= f.button :submit, " Vote Up " %>
        <% end %>
        </td>
        <td>
        <%= simple_form_for [review, Vote.new] do |f| %>
          <%= f.hidden_field :vote, value: -1 %>
          <%= f.button :submit, "Vote Down" %>
        <% end %>
        </td>
      <% elsif user_signed_in? && current_user.has_voted?(review) == true %>
        <% review.votes.each do |vote| %>
          <% if vote.user_id == current_user.id && vote.vote != 1%>
            <td colspan = "2">
            <%= simple_form_for [review, Vote.new] do |f| %>
              <%= f.hidden_field :vote, value: 1 %>
              <%= f.button :submit, " Vote Up " %>
            <% end %>
            </td>
          <% end %>
        <% end %>
        <% review.votes.each do |vote| %>
          <% if vote.user_id == current_user.id && vote.vote != -1%>
            <td colspan = "2">
            <%= simple_form_for [review, Vote.new] do |f| %>
              <%= f.hidden_field :vote, value: -1 %>
              <%= f.button :submit, "Vote Down" %>
            <% end %>
            </td>
          <% end %>
        <% end %>
      <% else %>
         <td colspan="2"> you must be signed in to vote
        </td>
      <% end %>
      <td id="vote-count<%= review.id %>"><%= review.vote_sum %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<% if user_signed_in? && !current_user.admin && current_user.has_reviewed?(@post) == false && @post.user != current_user %>
  <%= simple_form_for [@post, @review] do |f| %>
    <%= f.input :rating, as: :select, collection: 1..5 %>
    <%= f.input :body, label: "Review" %>
    <%= f.submit "Add Review" %>
  <% end %>
<% end %>
